PRIM_API_KEY=<API Key in IDF Mobilité>
key_id =<Garage API Key> # replace by your key id Garage Garage
secret_key = <Garage secret Key> # replace by your secret key from Garage
minio_ip_address = "garage"
bucket_name = "graphxproject"